<div class="pop-up-box" id="activated">
    <div class="inner-container">

        <div class="col-70">
            <p class="toggle-titles" id="active">Extension Enabled</p>
            <p class="toggle-titles" id="de-active">Extension Disabled</p>
            <p class="toggle-titles" id="high-active">Highlighting Enabled</p>
            <p class="toggle-titles" id="high-de-active">Highlighting Disabled</p>
        </div>

        <div class="col-30 vertical-line">
            <img id="gnow-logo-grey">
        </div>

    </div>
</div>