body {
    font-size: 100%;
}

@font-face {
    font-family: 'Roboto';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 800;
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/roboto/Roboto-Bold.ttf');
}

p {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    padding: inherit;
    font: inherit;
    font-size: inherit;
}

.x_cursor {
    cursor: url('chrome-extension://__MSG_@@extension_id__/images/gxbar_icon_16.png') , auto !important;
}

button {
    cursor: pointer;
    border:none;
    background: none;
    outline: none;
    -webkit-appearance: none;
    font-family : Roboto;
    font-weight: 500;
    font-size : 20px;
    text-transform : uppercase;
    color: #fc2b49;
    border-bottom : 1px solid #57232a;
}

button:hover {
    border-bottom : 1px solid transparent;
}

button:active {
    border-bottom : 1px solid transparent;
    color: #8e2635;
}

.pop-up-box {
    width: 300px;
    height: 160px;
    /*padding: 20px;*/
    border-radius: 2%;
    background-color: black;
    opacity: 0.8;
    position: fixed;
    z-index: 9999999999;
    left: 100px;
    top: 100px;
    color: #ffffff;
    display: none;
}

.inner-container {
    margin: 45px 40px;
    height: 70px;
    width: 220px;
}

[class*="col-"] {
    height: 100%;
    margin: 0;
    float: left;
}

.col-70 {
    width: 70%;
}

.col-30 {
    width: 29%;
    height: 100%;
}

.pop-up-box p {
    padding-right: 15px;
    text-align: right;
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
}

.vertical-line {
    border-left: 1px solid #b9bfbd;
}

#gnow-logo-grey {
    padding-left: 15px;
    margin-top: 50%;
    transform: translateY(-50%);
}

/*ACTIVATED-EXTENSION STYLE*/
.toggle-titles {
    display: none;
}

.toggle-titles#active {
    display: block;
}

/*General Circle*/

.circle {
    width: 292px;
    height: 292px;
    border-radius: 50%;
    background-color: #f2faf7;
    border: 4px solid rgba(0, 0, 0, 0.5);
    z-index: 99992147483647;
    text-align: center;
    display: none;
    font-size: 28px;
    line-height: 30px;
    text-transform: uppercase;
    color: #3e65b2;
}

.inner-circle {
    width: 200px;
    height: 200px;
    position: relative;
    margin: 46px;
    border-radius: 50%;
    background: #e0ebf0;
    vertical-align: middle;
}


.inner-circle.saving {
    width: 230px;
    height: 230px;
    margin: 31px;
    background: #dcf5de !important;
    line-height: 34px;
    font-size: 32px;
    color: #18cd00 !important;
}
/*Saved Elements Style*/
.saved-element {
    position: absolute;
    border: none;
}

.saved-element .content {
    position: relative;
    text-align: center;
    display: none;
}

.circle.saved-element {
    background: #18cd00;
}
.saved-element .inner-circle {
    width: 250px;
    height: 250px;
    margin: 21px;
    background: #16b800;
    font-family: Roboto;
    font-weight: 800;
    font-size: 28px;
    line-height: 30px;
    text-transform: uppercase;
    color: #ffffff;
}

.saved-element .inner-circle.half-circle {
    background: url('chrome-extension://__MSG_@@extension_id__/images/gx_halfDropZone.png') !important;
}

.text-container {
    display: table-cell;
    height: 250px;
    width: 250px;
    vertical-align: middle;
    padding: 3px;
}

.success a:hover {
    text-decoration: none;
}

.saved-element .small {
    font-family: Roboto;
    font-size: 14px;
    line-height: 1px;
    color: #108a00;
}


.fail {
    display: none;
}

.fail .new-line {
    display: inline-block;
    width: 100%;
}

/*DROPZONE STYLE*/

#dropzone {
    position: fixed;
}

.inner-circle #drag-element {
    text-align: center;
    display: table-cell;
    height: 200px;
    width: 200px;
    vertical-align: middle;
    font-family: Roboto;
    font-weight: 800;
}

.inner-circle.saving #drag-element {
    height: 230px;
    width: 230px;
}

#dropzone * {
    pointer-events: none;
}

/*SUCCESS-BOX*/

#success-box p {
    padding-top: 15px;
    text-align: center;
    font-size: 1.5em;
}