<div class="pop-up-box" id="onboard">
    <div class="inner-container">
        <span id="onboard-start-drag">Hover over a content element and start dragging.</span>
        <span id="onboard-drop">Drag it to the drop zone and let go.</span>
        <span id="onboard-go-to-element">Once saved, hover over pinned dot to view content.</span>
        <span id="onboard-done">Now you're ready to use GX! <br> Click the X icon in the address bar to login. </span>

        <div id="pager">
            <span id="pager-start" class="active">1</span>
            <span id="pager-drop" class="">2</span>
            <span id="pager-go-to-element" class="">3</span>
            <span id="pager-done" class="">4</span>
        </div>
    </div>
    <div id="logo-corner" class="start"></div>
</div>